<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @micropoost.content %>
</p>

<p>
  <b>User:</b>
  <%= @micropoost.user_id %>
</p>


<%= link_to 'Edit', edit_micropoost_path(@micropoost) %> |
<%= link_to 'Back', micropoosts_path %>
